﻿@font-face {
	font-family:"Roboto";
	src: url("fonts/Roboto-Regular.ttf");
}
body {
	background: #eee;
	font-family: "Roboto",Arial,sans-serif;
	font-size: 1.2em;
    line-height: 30px;
}
.main {
	background: #fff;
    box-shadow: 0 0 10px #6b6b6b8f;
    width: 70%;
    margin: 3% auto;
    border-radius: 2px;
    padding: 1%;
    max-width: 1000px;
}
.main>div.text {
	padding: 3% 100px;
	border-top: 1px solid #eee;
}
.main p {
	text-indent: 1.5em;
	margin: 0;
}
.main>div.top {
	padding: 5% 2%;
	display: table;
	width: 96%;
}
.main:last-child {
	padding-bottom: 50px;
}
.info { 
	display: table;
	width: 100%;
	font-size: 1em;
}
.info_row { display: table-row; }
.top img { 
	display: table-cell;
	width: 100%; 
} 
.info_cell { 
	display: table-cell; 
	padding: 0 2%;
}
.top .caption { 
	display: table-cell;
	vertical-align: top;
	width: 70%;
    padding-right: 5%;
}
.top .caption input { 
	background-color: #316a00;
	border-radius: 4px;
    height: 2em;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 3%;
    width: 100%;
}
.top .caption input:hover { 
	background-color: #8bc34a;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
}
.instruction { 
	padding: 6% 100px 0 100px;  
}
h1 { 
	font-weight: normal !important; 
	margin-top: 0 !important; 
}

@media (max-width: 1000px) {
	body { 
		font-size: 2.1em;
		line-height: 1.5em;
	}
	h1 { 
		font-size: 1.7em;
		line-height: 1em; 
	}
	.main { width: calc(100% - 20px); }
	.top .caption input { 
    	height: 2em;
    	font-size: 1.5em;
    	margin-top: 1em;
	}
	/*.top img { width: auto; }*/
}
/*Слайдер*/
.slider {
    width: 80%;
    margin: 100px auto;
}
.slick-prev:before,
.slick-next:before { color: black !important; }
.slick-slide {
	margin: 0px 20px;
  	transition: all ease-in-out .3s;
}
.slick-active { opacity: .5; }
.slick-current { opacity: 1; }